
@{
    ViewBag.Title = "Dashboard";
}
@using Capstone.Web.Models
@model DashboardModel

<h2>Your Itineraries</h2>
<table>
    <tr>
        <th>Trip Name</th>
        <th>Starting Point</th>
        <th>Number of Stops</th>
    </tr>
@foreach (ItineraryModel itinerary in Model.Itineraries)
{
    <tr>
        <th>@itinerary.Name</th>
        <td>@itinerary.Starting_point</td>
        @if (!(itinerary.Landmarks == null))
        {
            <td>@itinerary.Landmarks[itinerary.Landmarks.Count - 1]</td>
        }
        else
        {
            <td>0</td>
        }
        <td>@Html.ActionLink("View Details", "ItineraryDetails", new { id = itinerary.Itinerary_id })</td><!--NOT SURE IF THIS IS GOOD CODE. WILL KNOW WHEN CONTROLLERS ARE DONE -JOE O-->
        <td><button class="btn" onclick=@Url.Action("DeleteItinerary", "Dashboard", new { id = itinerary.Itinerary_id})> Delete Itinerary </button></td>
    </tr>
}
</table>




