@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="bg_image">
    <div id="splash">
        <span>Tour Columbus!</span>
        <text id="splash_subtext">Click here to explore!</text>
    </div>
</div>