@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="bg_image"></div>
    <div id="splash">
        <div>Tour Columbus!</div>
        <a href="@Url.Action("SearchLandmarks","Landmarks")"><div id="splash_subtext">Click here to explore!</div></a>
    </div>
