
@{
    ViewBag.Title = "LandmarkDetail";
}
@using Capstone.Web.Models
@model LandmarkModel


    <h2>@Model.name</h2>
    <img src="~/Content/imgs/Landmarks/@Model.image" />
    <table>
        <tr>
            <th>Address: </th>
            <td>@Model.address</td>
        </tr>
    </table>
    <p>Details:</p>
    <p>@Model.description</p>

    <h1 style="color: red">LATER: PUT BUTTONS FOR "ADD TO ITIN" OR "LOG IN TO CREATE ITIN"</h1>


</div>