@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="bg_image"></div>
    <div id="splash">
        <span>Tour Columbus!</span>
        <a href="@Url.Action("SearchLandmarks","Landmarks")"><span id="splash_subtext">Click here to explore!</span></a>
    </div>
