html {
    height: 100%;
}
body {
    background-color: #a6b7c2;
    padding-top: 40px;
    padding: 0;
    margin: 0;
    height: 100%;
    background-size: 100%;
    }

/* LAYOUT page stuff */

hr {
    border-color: black;
}
#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 40px;
}

footer {
    background-color: rgba(117, 145, 161, 0.70);
    height: 40px;
    padding-top: 10px;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    font-family: 'Merriweather', serif;
    text-align: center;
}
 /* FONTS */

 @font-face {
     font-family: BillyOhio;
     src: url("/fonts/BillyOhio.ttf");
 }

 /* DEFAULTS */

 .default-container {
     background-color: rgba(117, 145, 161, 0.70);
     background-position: center;
     width: 70%;
     display: inline-block;
     margin: 35px auto auto 15%;
     /*margin: 10px 0px 0px 0px;*/
     padding: 0px 0px 10px 10px;
     border-radius: 5px;
     position: relative;
     text-align: center;
 }
    .default-container h2 {
        font-family: BillyOhio;
        font-size: 5vw;
        color: white;
    }
    .default-container img {
        width: 30%;
        margin: 10px 0px 0px 10px;
        border-radius: 5px;
    }

/********BEGIN JOE RESPONSIVE NAVBAR CSS*/
#layoutimage {
    max-height: 60px;
    margin-top: -15px;
}
#tourcolumbusnavbar {
    background-color: #f2f2ed;
    border-bottom: none;
}
.navbar-inverse {
    background-color: #f2f2ed;
}
.navbar-header {
    border: none;
}
.container div {
    border: none;
    background-color: #f2f2ed;
}
.container .navbar-collapse {
    background-color: #f2f2ed;
    border: none;
}
.container .navbar-collapse.collapse.in li {
    border-bottom: 1px lightgray solid;
    background-color: #f2f2ed;
} 
nav .container {
    height: 60px;
    background-color: #f2f2ed;
}
/*Hyperlinks at the top*/
#bs-example-navbar-collapse-1 ul li {
    margin-top: 5px;
    font-size: 1.5em;
    color: black;
}
#bs-example-navbar-collapse-1 ul li:hover {
    background-color: lightgray;
}
/********END JOE RESPONSIVE NAVBAR CSS*/
/* INDEX PAGE */
#splash {
    font-family: BillyOhio;
    /*font-size: 300px;*/
    font-size: 15vw;
    color: white;
    width: 100%;
    text-align: center;
    margin: 10px auto auto auto;
    overflow: hidden;
}
 #splash_subtext {
     /*font-size: 70px;*/
     font-size: 4vw;
     display: block;
     margin-top: -80px;
     width: 100%;
 }
    #splash_subtext:hover {
        color: lightblue;
        cursor: pointer;
    }

#bg_image {
    opacity: .92;
    background-image: url(imgs/Columbus_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

/* ------- NAV BAR ------------ */

.navigator {
    background-color: rgba(117, 145, 161, 0.70);
    background-attachment: fixed;
    background-position: top;
    background-position-y: center;
    width: 100%;
    overflow: visible;
    left: 0;
    right: 0;
    padding: 0px 0px 0px 10px;
    font-family: 'Merriweather', serif;
}

#nav_top {
    font-family: 'Merriweather', serif;
    
}
#nav_title {
    font-size: 50px;
    color: white;
    font-family: 'Merriweather', serif;

}
#nav_top .container {
    margin-bottom: -15px;
}
    .dropdown .glyphicon {
        color: white;
        margin-left: -15px;
        font-size: 10px;
    }

.right-side-nav {
    float: right;
    color: black;
    padding: 0px 15px 0px 0px;
}

/* Credit to www.w3schools.com for "inspiration" on drop down menus */

.dropbtn {
    background-color: rgba(176, 102, 102, 0);
    color: white;
    padding: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;

}
.dropbtn a {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #808080
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover, .dropbtn:hover {
    background-color: lightgrey;
    color: black;
}

/* Register View */

.register_form {
    width: 650px;
    margin: 0 auto;
    margin-top: 5%;
    display: block;
    color: black;
    background-color: rgba(154, 167, 171, 0.82);
    border-radius: 5px;
    padding: 0px 55px 200px 55px;
    font-family: 'Merriweather', serif

}
    .register_form div {
        position: relative;
        margin: 3px 0px 5px 0px;
    }
    .register_form h2 {
        text-align: center;
        color: white;
        padding-top: 10px;
    }
    .register_label {
            text-align: right;
            width: 30%;
            float: left;
            margin-bottom: 5px;
            font-size: 18px;
            color: white;
        }
    .register_textbox {
            display: inline-block;
            /*float: left;*/
            margin-left: 10px;
            width: 50%;
            height: 40px;
            margin-bottom: 5px;
        }
.save_button {
    width: 200px;
    top: 0;
    margin: 0 auto;
    left: auto;
    right: auto;

}
.field-validation-error {
    color: #e02323;
    display: block;
}

/* Media adjustments */

/*@media screen and (max-width: 1500px) {
    #bg_image {
        background-position: bottom;
        background-size: auto;
    }
}*/
@media screen and (min-width: 100px) {
    #bg_image {

    }
}

.register_btn {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.00);
    border: 1px solid black;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-size: 25px;
    width: 100%;
    position: relative;
}
    #register_btn:hover {
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    }

.validation_messages {
    color: #ff9898;
    border-radius: 2px;
    overflow: visible;
    display: block;
    font-size: 11px;
    margin: 2px 0px 2px 0px;
    padding: 1px 0px 1px 5px;
    position: relative;
}

<<<<<<< HEAD
/***************************DASHBOARD PAGE***************************************/
#itinerariescontainer * {
    color: #2a303a;
}

#itinerariescontainer h1 {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#itinerariescontainer h3 {
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
/******Next 2 Tags are to make links not underlined when hover****/
#itinerariescontainer a {
    text-decoration: none;
}
#itinerariescontainer a:hover {
    text-decoration: none;
}
.itineraryandbutton {
    display: block;
    text-align: center;
}
.itineraryandbutton * {
    display: inline-block;
}
.itineraryandbutton a {
    display: inline-block;
    width: auto;
    margin: 0;
}
.itineraryandbutton .btn {
    display: inline-block;
    margin: 0;
}
.itinerary {
    text-align: left;
    max-width: 750px;;
    min-width: 250px;
    margin: 10px auto 10px auto;
    padding: 10px;
    background-color: #e8eff9;
    border-radius: 5px;
    text-decoration: none;
}
.itinerary:hover {
    background-color: #d0daea;
    text-decoration: none;
}

.itinerary * {
   display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    width: 200px;
    text-align: left;
    min-height: 30px;
    vertical-align: middle;
    margin: 0 auto 0 auto;
    text-decoration: none;
}
.itinerary *:hover {
    text-decoration: none;
}
#numberofstops {
    text-align: center;
}
#itinerariescontainer .btn {
    height: 30px;
    font-size: 1em;
    text-align: center;
    padding: 0;
    display: inline-block;
}
.tripname {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 2em;
}
.startingpointheading {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 1.3em;
}
=======
/* Landmarks Search items */
>>>>>>> c30e1c760228a3e62d41169315b27b370aad57fd

