html {
    min-height: 100%;
}
body {
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
    }

/* LAYOUT page stuff */

hr {
    border-color: black;
}
#wrapper {
    /*min-height: 100%;*/
    position: relative;
}
.container {
    font-family: 'Josefin Sans';
    font-size: 1vw;
}
/*footer {
    background-color: rgba(117, 145, 161, 0.70);
    height: 40px;
    padding-top: 10px;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: relative;
    font-family: 'Merriweather', serif;
    text-align: center;
}*/

 /* FONTS */

 @font-face {
     font-family: BillyOhio;
     src: url("/fonts/BillyOhio.ttf");
 }
 @font-face {
     font-family: 'Poiret One', cursive;
     font-family: 'Josefin Sans', sans-serif;
     font-family: 'Merriweather';

 }

/********BEGIN JOE RESPONSIVE NAVBAR CSS*/

#layoutimage {
    max-height: 60px;
    margin-top: -15px;
}
#tourcolumbusnavbar {
    background-color: #eeeeee;
    border-bottom: none;
}
.navbar-inverse {
    background-color: #eeeeee;
}
.navbar-header {
    border: none;
}
.container div {
    border: none;
    background-color: #eeeeee;
}
.container .navbar-collapse {
    background-color: #eeeeee;
    border: none;
}
.container .navbar-collapse.collapse.in li {
    border-bottom: 1px lightgray solid;
    background-color: #eeeeee;
} 
nav .container {
    height: 60px;
    background-color: #eeeeee;
}
/*Hyperlinks at the top*/
#bs-example-navbar-collapse-1 ul li {
    margin-top: 5px;
    font-size: 1.5em;
    color: black;
}
#bs-example-navbar-collapse-1 ul li:hover {
    background-color: #eeeeee;
}
/********END JOE RESPONSIVE NAVBAR CSS*/

/* INDEX PAGE */

#splash {
    font-family: BillyOhio;
    font-size: 15vw;
    color: white;
    width: 100%;
    text-align: center;
    overflow: visible;
    top: 50px;
    position: absolute;
}

 #splash_subtext {
     color: white;
     font-size: 4vw;
     display: block;
     margin-top: -80px;
     width: 100%;
     position: relative;

 }
    #splash_subtext:hover {
        color: lightblue;
        cursor: pointer;
    }
    #splash a {
        text-decoration: none;
    }



#bg_image {
    opacity: .9;
    background-image: url(imgs/Columbus_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 950px;
    width: 100%;

}

/* Login View */

#login-splash {
    background-image: url(imgs/Columbus-ohio-downtown-night.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 900px;
    width: auto;
}

#login-splash .login-form {
    width: 650px;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    color: black;
    background-color: rgba(154, 167, 171, 0.82);
    border-radius: 5px;
    padding: 0px 55px 200px 55px;
    font-family: 'Josefin Sans';
    font-size: 1vw;
    position: relative;
    top: 80px;
}
    .login_form div {
        position: relative;
        margin: 3px 0px 5px 0px;
    }
    .login-form h2 {
        font-family: BillyOhio;
        text-align: center;
        color: white;
        padding-top: 10px;
        font-size: 3vw;
    }
    .login_label {
            text-align: right;
            width: 30%;
            float: left;
            margin-bottom: 5px;
            color: white;
            font-family: 'Josefin Sans';
            font-size: 1vw;
        }
    .login_textbox {
            display: inline-block;
            /*float: left;*/
            margin-left: 10px;
            width: 50%;
            height: 40px;
            margin-bottom: 5px;
        }
/* Register View */
#register-splash {
    background-image: url(imgs/Facade-Night.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 910px;
    position: relative; 

}
.register_form {
    width: 650px;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    color: black;
    background-color: rgba(154, 167, 171, 0.82);
    border-radius: 5px;
    padding: 0px 55px 200px 55px;
    font-family: 'Merriweather', serif;
    top: 80px;
    position: relative;

}
    .register_form div {
        position: relative;
        margin: 3px 0px 5px 0px;
    }
    .register_form h2 {
        font-family: BillyOhio;
        font-size: 3vw;
        text-align: center;
        color: white;
        padding-top: 10px;
    }
    .register_label {
            text-align: right;
            width: 30%;
            float: left;
            margin-bottom: 5px;
            font-size: 18px;
            color: white;
        }
    .register_textbox {
            display: inline-block;
            /*float: left;*/
            margin-left: 10px;
            width: 50%;
            height: 40px;
            margin-bottom: 5px;
        }
.save_button {
    width: 200px;
    top: 0;
    margin: 0 auto;
    left: auto;
    right: auto;

}
.field-validation-error {
    color: #e02323;
    display: block;
}

/* Media adjustments */

/*@media screen and (max-width: 1500px) {
    #bg_image {
        background-position: bottom;
        background-size: auto;
    }
}*/

.register_btn {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.00);
    border: 1px solid black;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-size: 25px;
    width: 100%;
    position: relative;
}
    .register_btn:hover {
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    }

.validation_messages {
    color: #ff9898;
    border-radius: 2px;
    overflow: visible;
    display: block;
    font-size: 11px;
    margin: 2px 0px 2px 0px;
    padding: 1px 0px 1px 5px;
    position: relative;
}

/***************************DASHBOARD PAGE***************************************/
.itinerary-divmaster {
    height: auto;
    display: block;
    width: 100%;
}
#itinerary-splash {
    background-image: url(imgs/arenadistrict.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: bottom;
    min-height: 600px;
    position: relative;
    }
#itinerariescontainer h1 {
    font-family: BillyOhio;
    font-size: 14vw;
    color: white;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 150px;
}

#itinerariescontainer h3 {
    max-width: 80%;
    font-family: Merriweather;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
/******Next 2 Tags are to make links not underlined when hover****/

#itinerariescontainer a {
    text-decoration: none;
}
#itinerariescontainer a:hover {
    text-decoration: none;
}
.itineraryandbutton {
    display: block;
    text-align: center;
}
.itineraryandbutton * {
    display: inline-block;
}
.itineraryandbutton a {
    display: inline-block;
    width: auto;
    margin: 0;
}
.itineraryandbutton .btn {
    display: inline-block;
    margin: 0;
}
.itinerary {
    text-align: left;
    max-width: 750px;
    min-width: 250px;
    margin: 10px auto 10px auto;
    padding: 10px;
    background-color: #e8eff9;
    border-radius: 5px;
    text-decoration: none;
}
.itinerary:hover {
    background-color: #d0daea;
    text-decoration: none;
}

.itinerary * {
   display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    width: 200px;
    text-align: left;
    min-height: 30px;
    vertical-align: middle;
    margin: 0 auto 0 auto;
    text-decoration: none;
    position: relative;

}
.itinerary *:hover {
    text-decoration: none;
}
#numberofstops {
    text-align: center;
}
#itinerariescontainer .btn {
    height: 30px;
    font-size: 1em;
    text-align: center;
    padding: 0px 5px 0px 5px;
    display: inline-block;
    color: black;
}
#itinerariescontainer .btn:hover {
    background-color: #d0daea;
}
.tripname {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 2em;
}
.startingpointheading {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 1.3em;
}
/* Landmarks Search items */

.landmark {
    background-color: #aba8ad;
    }
.landmark img {
    width: 100%;
    height: 100%;
}
    .landmark h2 {
        font-family: BillyOhio;
        font-size: 12vw;
        color: white;
        text-align: center;
        position: absolute;
        top: 200px;
        width: 100%
    }
#landmark-splash {
    background-image: url(imgs/cosi.jpg);
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .landmark-container {
     background-position: center;
     width: 100%;
     display: inline-block;
     vertical-align: top;
     overflow: hidden;
     margin: 10px 0px 0px 0px;
     padding: 30px 0px 60px 0px;
     border-radius: 5px;
     position: relative;
     text-align: center;
     font-family: Garamond;
     font-size: 2vw;
     column-count: 2;
     column-span: all;
     column-gap: 10px;
     column-rule-style: dotted;
     grid-column-span: 3;
     grid-column-align: center;

 }

    .landmark-container img {
        width: 60%;
        height: auto;
        margin: 10px 0px 10px 10px;
        border-radius: 3px;
        border: 1px solid black;
    }

/* Landmarks details */

/*#landmark-details {

}*/
#landmark-details-container {
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
    padding-bottom: 100px;
}
    #landmark-details-container img {
        margin: 0 auto;
        width: 100%;
        fit-position: center;
        position: relative;
        z-index: 0;

    }
    #landmark-details-container div {
        position: relative;
        width: 90%;
        font-family: merriweather;
        color: white;
        font-size: 1.5vw;
        margin: 10px auto auto 100px;

    }
    #landmark-details-name p {
            font-family: BillyOhio;
            font-size: 7vw;
            color: white;
            position: absolute;
            margin: 0 auto;
            text-align: center;
            bottom: 10px;
            z-index: 1;
        }
    #landmark-details-description {
        background-color: #EEEEEE;
        margin-top: 20px;
        padding: 20px 0px 20px 15px;
        color: darkgray;
        border-radius: 2px;
    }

/* Itinerary details */

#itinerary-details-splash {
    background-image: url('imgs/Nationwide Blvd 1.JPG');
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 100px;
}
.itinerary-details-container {
    text-align: center;
}
    .itinerary-details-container h2 {
        font-family: BillyOhio;
        color: white;
        font-size: 11vw;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        top: 250px;
}

    #right-panel {
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }

            #right-panel select, #right-panel input {
                font-size: 15px;
            }

            #right-panel select {
                width: 100%;
            }

            #right-panel i {
                font-size: 12px;
            }

        #map {
            height: 100%;
            float: left;
            width: 70%;
            height: 100%;
        }

        #right-panel {
            margin: 20px;
            border-width: 2px;
            width: 20%;
            height: 400px;
            float: left;
            text-align: left;
            padding-top: 0;
        }

        #directions-panel {
            margin-top: 10px;
            background-color: #FFEE77;
            padding: 10px;
            overflow: scroll;
            height: 174px;
        }
