
@{
    ViewBag.Title = "Itinerary";
}
@using Capstone.Web.Models

@model ItineraryModel

<h2>@Model.Name</h2>
<h3>Starting Point:</h3>
<p>@Model.Starting_point</p>
<h3>Destinations:</h3>
<table>
    @foreach (LandmarkModel landmark in Model.Landmarks)
    {
        <tr>
            <td>@landmark.name</td>
            <td>@Html.ActionLink("View Landmark", "LandmarkDetail", new { id = landmark.landmark_id })</td>
        </tr>
    }
</table>

