@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Capstone.Web.Models
@model LandmarkModel

<div>
    @Model.name
    @Model.address
    @Model.description
    <img src="~/Content/imgs/Landmarks/@Model.image" />\
</div>