
@{
    ViewBag.Title = "LandmarkSuggestionAccepted";
}
@using Capstone.Web.Models
@model LandmarkModel

<h2>LandmarkSuggestionAccepted</h2>

<div>
    <h2>Thanks for your suggestion!</h2>
    <div>We will have to review your suggestion before it is an option to add to your itinerary.</div>
    <h4>Information Submitted:</h4>
    <div>@Model.name</div><br />
    <div>@Model.address</div><br />
    <div>@Model.description</div><br />
</div>

@Html.ActionLink("Go Back To Itineraries", "Index", "Dashboard", new { @class = "btn btn-default" })