@{
    ViewBag.Title = "Columbus Landmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using Capstone.Web.Models
@model ItineraryModel
@{ 
    int itinId = Model.Itinerary_id;
    Session["itinId"] = itinId;
    itinId = (int)Session["itinId"];
}

            <div class="landmark">

    <h2>@ViewBag.Title</h2>

    <div id="landmark-splash"></div>
    <div class="landmark-container">


    @foreach (LandmarkModel LM in Model.Landmarks)
    {
            <div>
                @LM.name
            </div>
            <div>
                <a href="@Url.Action("LandmarkDetails", "Landmarks", new { id = LM.landmark_id })"><img src="~/Content/imgs/Landmarks/@LM.image" /></a>
            </div>
        }
        
    </div>
</div>



