@{
    ViewBag.Title = "Search Landmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Capstone.Web.Models
@model List<LandmarkModel>

<div class="landmark">

    <h2>@ViewBag.Title</h2>

    <div id="landmark-splash"></div>
    <div class="landmark-container">


    @foreach (LandmarkModel LM in Model)
    {
            <div>
                @LM.name
            </div><div>
                <a href="~/Landmarks/LandmarkDetails?landmarkID=@LM.landmark_id"><img src="~/Content/imgs/Landmarks/@LM.image" /></a>
            </div>
            <br />
        }
    </div>
</div>



