@{
    ViewBag.Title = "Search Landmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Capstone.Web.Models
@model List<LandmarkModel>

<div class="default-container">
    <h2>@ViewBag.Title</h2>
    @foreach (LandmarkModel LM in Model)
    {

        <div>
            @LM.name
        </div><div>
            <a href="~/Landmarks/LandmarkDetails?landmarkID=@LM.landmark_id"><img src="~/Content/imgs/Landmarks/@LM.image" /></a>
        </div>

    }
</div>

