@{
    ViewBag.Title = "Search Landmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Capstone.Web.Models
@model List<LandmarkModel>

<div class="default-container">
    <h2>@ViewBag.Title</h2>

<<<<<<< HEAD
    @foreach (LandmarkModel LM in Model)
    {

        <div>
            @LM.name
        </div><div>
            <a href="~/Landmarks/LandmarkDetails?landmarkID=@LM.landmark_id"><img src="~/Content/imgs/Landmarks/@LM.image" /></a>
        </div>

    }
</div>
=======
@foreach(LandmarkModel LM in Model)
{ 
    <div>
       
        <a href="~/Landmarks/LandmarkDetails?landmarkID=@LM.landmark_id">@LM.name</a>
    </div>
}
>>>>>>> 2475d703c4839e1b756e80a48d0e0b18cdbd2fa4
